.elementor-85983
  .elementor-element.elementor-element-7d3c83:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-85983
  .elementor-element.elementor-element-7d3c83
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fcbcc8;
}
.elementor-85983 .elementor-element.elementor-element-7d3c83 {
  overflow: hidden;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
}
.elementor-85983
  .elementor-element.elementor-element-7d3c83
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-85983
  .elementor-element.elementor-element-5e7bcf38
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-widget-image .widget-image-caption {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-85983
  .elementor-element.elementor-element-7f09a15
  > .elementor-widget-container {
  margin: 0px 0px 40px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-85983 .elementor-element.elementor-element-7f09a15 img {
  width: 65%;
  border-radius: 40px 40px 40px 40px;
  box-shadow: 0px 0px 14px 1px rgba(255, 255, 255, 0.51);
}
.elementor-85983
  .elementor-element.elementor-element-399fd101:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-85983
  .elementor-element.elementor-element-399fd101
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fcbcc8;
}
.elementor-85983 .elementor-element.elementor-element-399fd101 {
  overflow: hidden;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: -20px;
  margin-bottom: -20px;
}
.elementor-85983
  .elementor-element.elementor-element-399fd101
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-85983
  .elementor-element.elementor-element-3c4020eb
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-85983
  .elementor-element.elementor-element-14607f25
  > .elementor-widget-container {
  margin: 20px 0px 20px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-85983 .elementor-element.elementor-element-14607f25 img {
  width: 65%;
  border-radius: 40px 40px 40px 40px;
  box-shadow: 0px 0px 14px 1px rgba(255, 255, 255, 0.51);
}
.elementor-85983
  .elementor-element.elementor-element-13fd00ae
  .wpr-countdown-item {
  background-color: #f8f3f3;
  margin-left: calc(0px / 2);
  margin-right: calc(0px / 2);
  padding: 0px 0px 0px 0px;
  border-radius: 0px 25px 5px 27px;
  box-shadow: 0px 0px 10px 0px
    rgba(65.671875, 53.33274536132809, 18.470214843749996, 0.99);
  text-align: center;
}
.elementor-85983 .elementor-element.elementor-element-13fd00ae {
  bottom: 797px;
}
.elementor-85983
  .elementor-element.elementor-element-13fd00ae
  .wpr-countdown-number {
  display: block;
  color: #7c633e;
  font-family: "Adamina", Sans-serif;
  line-height: 73px;
  letter-spacing: -3.4px;
  word-spacing: 0px;
  padding: 40px 10px 10px 10px;
}
.elementor-85983
  .elementor-element.elementor-element-13fd00ae
  .wpr-countdown-label {
  display: block;
  color: #fcbdc8;
  background-color: #da6ea9;
  font-style: normal;
  line-height: 39px;
  padding: 10px 10px 10px 10px;
}
.elementor-85983
  .elementor-element.elementor-element-13fd00ae
  .wpr-countdown-wrap {
  max-width: 560px;
}
.elementor-85983
  .elementor-element.elementor-element-13fd00ae
  .wpr-countdown-separator
  span {
  background: #da6ea9;
  width: 9px;
  height: 9px;
  border-radius: 50%;
}
.elementor-85983
  .elementor-element.elementor-element-13fd00ae
  .wpr-countdown-separator
  span:first-child {
  margin-bottom: 18px;
}
.elementor-85983
  .elementor-element.elementor-element-67bb0cb1:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-85983
  .elementor-element.elementor-element-67bb0cb1
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fcbcc8;
}
.elementor-85983 .elementor-element.elementor-element-67bb0cb1 {
  overflow: hidden;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: -20px;
  margin-bottom: -20px;
}
.elementor-85983
  .elementor-element.elementor-element-67bb0cb1
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-85983
  .elementor-element.elementor-element-520618bd
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-85983
  .elementor-element.elementor-element-43abcb15
  > .elementor-widget-container {
  margin: 20px 0px 20px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-85983 .elementor-element.elementor-element-43abcb15 img {
  width: 65%;
  border-radius: 40px 40px 40px 40px;
  box-shadow: 0px 0px 14px 1px rgba(255, 255, 255, 0.51);
}
.elementor-widget-button .elementor-button {
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-weight: var(--e-global-typography-accent-font-weight);
}
.elementor-85983
  .elementor-element.elementor-element-51717993
  .elementor-button {
  background-color: #e268a9;
  font-family: "Asap", Sans-serif;
  font-weight: 600;
  box-shadow: 0px 0px 0px 2px #828ca7;
  border-radius: 61px 61px 61px 61px;
}
.elementor-85983
  .elementor-element.elementor-element-51717993
  > .elementor-widget-container {
  --e-transform-scale: 1.5;
  margin: 134px 134px 134px 134px;
}
.elementor-85983 .elementor-element.elementor-element-51717993 {
  bottom: 200px;
}
.elementor-85983
  .elementor-element.elementor-element-51717993
  .elementor-button-content-wrapper {
  flex-direction: row;
}
.elementor-85983
  .elementor-element.elementor-element-51717993
  .elementor-button
  .elementor-button-content-wrapper {
  gap: 7px;
}
.elementor-85983
  .elementor-element.elementor-element-1f951cd0:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-85983
  .elementor-element.elementor-element-1f951cd0
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fcbcc8;
}
.elementor-85983 .elementor-element.elementor-element-1f951cd0 {
  overflow: hidden;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: -20px;
  margin-bottom: -20px;
}
.elementor-85983
  .elementor-element.elementor-element-1f951cd0
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-85983
  .elementor-element.elementor-element-1ae6837d
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-85983
  .elementor-element.elementor-element-3ce3cff8
  > .elementor-widget-container {
  margin: 20px 0px 20px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-85983 .elementor-element.elementor-element-3ce3cff8 img {
  width: 65%;
  border-radius: 40px 40px 40px 40px;
  box-shadow: 0px 0px 14px 1px rgba(255, 255, 255, 0.51);
}
.elementor-85983
  .elementor-element.elementor-element-4004c30
  .wpr-flip-box-item {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  border-radius: 20px;
}
.elementor-85983
  .elementor-element.elementor-element-4004c30
  .wpr-flip-box-front {
  background-color: transparent;
  background-image: linear-gradient(180deg, #dbd6bd 0%, #df55a0 100%);
  border-style: double;
  border-width: 7px 7px 7px 7px;
  border-color: #768bad;
}
.elementor-85983
  .elementor-element.elementor-element-4004c30
  .wpr-flip-box-front
  .wpr-flip-box-content {
  text-align: center;
  padding: 20px 20px 20px 20px;
  -webkit-justify-content: center;
  justify-content: center;
}
.elementor-85983
  .elementor-element.elementor-element-4004c30
  .wpr-flip-box-back {
  background-color: transparent;
  background-image: linear-gradient(180deg, #c8d9e9 0%, #e88ded 100%);
  border-style: double;
  border-width: 7px 7px 7px 7px;
  border-color: #989176;
}
.elementor-85983
  .elementor-element.elementor-element-4004c30
  .wpr-flip-box-back
  .wpr-flip-box-content {
  text-align: center;
  padding: 20px 20px 20px 20px;
  -webkit-justify-content: center;
  justify-content: center;
}
.elementor-85983
  .elementor-element.elementor-element-4004c30
  > .elementor-widget-container {
  margin: 0px 346px 0px 346px;
}
body:not(.rtl) .elementor-85983 .elementor-element.elementor-element-4004c30 {
  left: 0px;
}
body.rtl .elementor-85983 .elementor-element.elementor-element-4004c30 {
  right: 0px;
}
.elementor-85983 .elementor-element.elementor-element-4004c30 {
  top: 516px;
}
.elementor-85983 .elementor-element.elementor-element-4004c30 .wpr-flip-box {
  height: 350px;
  border-radius: 20px;
}
.elementor-85983
  .elementor-element.elementor-element-4004c30
  .wpr-flip-box-overlay {
  border-radius: 20px;
}
.elementor-85983
  .elementor-element.elementor-element-4004c30
  .wpr-flip-box-front
  .wpr-flip-box-icon {
  color: #ffffff;
  font-size: 49px;
  margin-bottom: 0px;
}
.elementor-85983
  .elementor-element.elementor-element-4004c30
  .wpr-flip-box-front
  .wpr-flip-box-title {
  color: #ffffff;
  font-family: "Alegreya SC", Sans-serif;
  font-size: 33px;
  font-weight: 600;
  margin: 0 0 12px;
}
.elementor-85983
  .elementor-element.elementor-element-4004c30
  .wpr-flip-box-front
  .wpr-flip-box-description {
  color: #ffffff;
  font-size: 21px;
  margin-bottom: 0px;
}
.elementor-85983
  .elementor-element.elementor-element-4004c30
  .wpr-flip-box-back
  .wpr-flip-box-image
  img {
  max-width: 193px;
  border-radius: 0px;
}
.elementor-85983
  .elementor-element.elementor-element-4004c30
  .wpr-flip-box-back
  .wpr-flip-box-image {
  margin-bottom: 20px;
}
.elementor-85983
  .elementor-element.elementor-element-4004c30
  .wpr-flip-box-back
  .wpr-flip-box-title {
  color: #ffffff;
  font-family: "Alegreya SC", Sans-serif;
  font-size: 33px;
  font-weight: 600;
  margin: 0 0 15px;
}
.elementor-85983
  .elementor-element.elementor-element-4004c30
  .wpr-flip-box-back
  .wpr-flip-box-description {
  color: #ffffff;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 16px;
}
.elementor-85983
  .elementor-element.elementor-element-4004c30
  .wpr-flip-box-back
  .wpr-flip-box-btn {
  color: #ffffff;
  border-color: #ffffff;
  transition-duration: 0s;
  font-size: 22px;
  font-weight: 700;
  border-width: 2px 2px 2px 2px;
  border-radius: 15px 15px 15px 15px;
}
.elementor-85983
  .elementor-element.elementor-element-4004c30
  .wpr-flip-box-back
  .wpr-flip-box-btn:hover {
  color: #ffffff;
  border-color: #ffffff;
}
.elementor-85983
  .elementor-element.elementor-element-4004c30
  .wpr-flip-box-back
  .wpr-flip-box-btn {
  padding: 10px 10px 10px 10px;
  border-style: solid;
}
.elementor-85983
  .elementor-element.elementor-element-f744b78
  .wpr-flip-box-item {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  border-radius: 20px;
}
.elementor-85983
  .elementor-element.elementor-element-f744b78
  .wpr-flip-box-front {
  background-color: transparent;
  background-image: linear-gradient(180deg, #dbd6bd 0%, #df55a0 100%);
  border-style: double;
  border-width: 7px 7px 7px 7px;
  border-color: #768bad;
}
.elementor-85983
  .elementor-element.elementor-element-f744b78
  .wpr-flip-box-front
  .wpr-flip-box-content {
  text-align: center;
  padding: 20px 20px 20px 20px;
  -webkit-justify-content: center;
  justify-content: center;
}
.elementor-85983
  .elementor-element.elementor-element-f744b78
  .wpr-flip-box-back {
  background-color: transparent;
  background-image: linear-gradient(180deg, #c8d9e9 0%, #e88ded 100%);
  border-style: double;
  border-width: 7px 7px 7px 7px;
  border-color: #989176;
}
.elementor-85983
  .elementor-element.elementor-element-f744b78
  .wpr-flip-box-back
  .wpr-flip-box-content {
  text-align: center;
  padding: 20px 20px 20px 20px;
  -webkit-justify-content: center;
  justify-content: center;
}
.elementor-85983
  .elementor-element.elementor-element-f744b78
  > .elementor-widget-container {
  margin: 0px 346px 0px 346px;
}
body:not(.rtl) .elementor-85983 .elementor-element.elementor-element-f744b78 {
  left: 0px;
}
body.rtl .elementor-85983 .elementor-element.elementor-element-f744b78 {
  right: 0px;
}
.elementor-85983 .elementor-element.elementor-element-f744b78 {
  top: 1000px;
}
.elementor-85983 .elementor-element.elementor-element-f744b78 .wpr-flip-box {
  height: 350px;
  border-radius: 20px;
}
.elementor-85983
  .elementor-element.elementor-element-f744b78
  .wpr-flip-box-overlay {
  border-radius: 20px;
}
.elementor-85983
  .elementor-element.elementor-element-f744b78
  .wpr-flip-box-front
  .wpr-flip-box-icon {
  color: #ffffff;
  font-size: 49px;
  margin-bottom: 0px;
}
.elementor-85983
  .elementor-element.elementor-element-f744b78
  .wpr-flip-box-front
  .wpr-flip-box-title {
  color: #ffffff;
  font-family: "Alegreya SC", Sans-serif;
  font-size: 33px;
  font-weight: 600;
  margin: 0 0 12px;
}
.elementor-85983
  .elementor-element.elementor-element-f744b78
  .wpr-flip-box-front
  .wpr-flip-box-description {
  color: #ffffff;
  font-size: 21px;
  margin-bottom: 0px;
}
.elementor-85983
  .elementor-element.elementor-element-f744b78
  .wpr-flip-box-back
  .wpr-flip-box-image
  img {
  max-width: 193px;
  border-radius: 0px;
}
.elementor-85983
  .elementor-element.elementor-element-f744b78
  .wpr-flip-box-back
  .wpr-flip-box-image {
  margin-bottom: 24px;
}
.elementor-85983
  .elementor-element.elementor-element-f744b78
  .wpr-flip-box-back
  .wpr-flip-box-title {
  color: #ffffff;
  font-family: "Alegreya SC", Sans-serif;
  font-size: 33px;
  font-weight: 600;
  margin: 0 0 11px;
}
.elementor-85983
  .elementor-element.elementor-element-f744b78
  .wpr-flip-box-back
  .wpr-flip-box-description {
  color: #ffffff;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 0px;
}
.elementor-85983
  .elementor-element.elementor-element-f744b78
  .wpr-flip-box-back
  .wpr-flip-box-btn {
  color: #ffffff;
  border-color: #ffffff;
  transition-duration: 0s;
  font-size: 22px;
  font-weight: 700;
  border-width: 2px 2px 2px 2px;
  border-radius: 15px 15px 15px 15px;
}
.elementor-85983
  .elementor-element.elementor-element-f744b78
  .wpr-flip-box-back
  .wpr-flip-box-btn:hover {
  color: #ffffff;
  border-color: #ffffff;
}
.elementor-85983
  .elementor-element.elementor-element-f744b78
  .wpr-flip-box-back
  .wpr-flip-box-btn {
  padding: 10px 10px 10px 10px;
  border-style: solid;
}
.elementor-85983
  .elementor-element.elementor-element-5ff60af0:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-85983
  .elementor-element.elementor-element-5ff60af0
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fcbcc8;
}
.elementor-85983 .elementor-element.elementor-element-5ff60af0 {
  overflow: hidden;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: -20px;
  margin-bottom: -20px;
}
.elementor-85983
  .elementor-element.elementor-element-5ff60af0
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-85983
  .elementor-element.elementor-element-78b42866
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-85983
  .elementor-element.elementor-element-32942365
  > .elementor-widget-container {
  margin: 20px 0px 20px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-85983 .elementor-element.elementor-element-32942365 img {
  width: 65%;
  border-radius: 40px 40px 40px 40px;
  box-shadow: 0px 0px 14px 1px rgba(255, 255, 255, 0.51);
}
.elementor-widget-form .elementor-field-group > label {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-widget-form .elementor-field-type-html {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-widget-form .elementor-field-group .elementor-field,
.elementor-widget-form .elementor-field-subgroup label {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-widget-form .elementor-button {
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-weight: var(--e-global-typography-accent-font-weight);
}
.elementor-widget-form .elementor-message {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-widget-form .e-form__indicators__indicator,
.elementor-widget-form .e-form__indicators__indicator__label {
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-weight: var(--e-global-typography-accent-font-weight);
}
.elementor-widget-form .e-form__indicators__indicator__progress__meter {
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-weight: var(--e-global-typography-accent-font-weight);
}
.elementor-85983
  .elementor-element.elementor-element-237fc0b7
  > .elementor-widget-container {
  --e-transform-scale: 1.3;
  background-color: transparent;
  margin: 0px 349px 0px 349px;
  padding: 51px 45px 25px 45px;
  background-image: linear-gradient(180deg, #c8d9e9 0%, #e88ded 100%);
  border-style: solid;
  border-color: #c4bcb0;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}
body:not(.rtl) .elementor-85983 .elementor-element.elementor-element-237fc0b7 {
  left: 0px;
}
body.rtl .elementor-85983 .elementor-element.elementor-element-237fc0b7 {
  right: 0px;
}
.elementor-85983 .elementor-element.elementor-element-237fc0b7 {
  top: 571px;
  --e-form-steps-indicators-spacing: 16px;
  --e-form-steps-indicator-padding: 25px;
  --e-form-steps-indicator-inactive-secondary-color: #ffffff;
  --e-form-steps-indicator-active-secondary-color: #ffffff;
  --e-form-steps-indicator-completed-secondary-color: #ffffff;
  --e-form-steps-divider-width: 16px;
  --e-form-steps-divider-gap: 10px;
}
.elementor-85983
  .elementor-element.elementor-element-237fc0b7.ha-has-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-85983
  .elementor-element.elementor-element-237fc0b7
  .elementor-button-content-wrapper {
  flex-direction: row;
}
.elementor-85983
  .elementor-element.elementor-element-237fc0b7
  .elementor-button
  span {
  gap: 8px;
}
.elementor-85983
  .elementor-element.elementor-element-237fc0b7
  .elementor-field-group {
  padding-right: calc(8px / 2);
  padding-left: calc(8px / 2);
  margin-bottom: 0.5em;
}
.elementor-85983
  .elementor-element.elementor-element-237fc0b7
  .elementor-form-fields-wrapper {
  margin-left: calc(-8px / 2);
  margin-right: calc(-8px / 2);
  margin-bottom: -0.5em;
}
.elementor-85983
  .elementor-element.elementor-element-237fc0b7
  .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-85983
  .elementor-element.elementor-element-237fc0b7
  .elementor-field-group.recaptcha_v3-bottomright {
  margin-bottom: 0;
}
body.rtl
  .elementor-85983
  .elementor-element.elementor-element-237fc0b7
  .elementor-labels-inline
  .elementor-field-group
  > label {
  padding-left: 5px;
}
body:not(.rtl)
  .elementor-85983
  .elementor-element.elementor-element-237fc0b7
  .elementor-labels-inline
  .elementor-field-group
  > label {
  padding-right: 5px;
}
body
  .elementor-85983
  .elementor-element.elementor-element-237fc0b7
  .elementor-labels-above
  .elementor-field-group
  > label {
  padding-bottom: 5px;
}
.elementor-85983
  .elementor-element.elementor-element-237fc0b7
  .elementor-field-group
  > label,
.elementor-85983
  .elementor-element.elementor-element-237fc0b7
  .elementor-field-subgroup
  label {
  color: #ffffff;
}
.elementor-85983
  .elementor-element.elementor-element-237fc0b7
  .elementor-field-type-html {
  padding-bottom: 0px;
}
.elementor-85983
  .elementor-element.elementor-element-237fc0b7
  .elementor-field-group
  .elementor-field:not(.elementor-select-wrapper) {
  background-color: #ffffff;
  border-width: 2px 2px 2px 2px;
  border-radius: 9px 9px 9px 9px;
}
.elementor-85983
  .elementor-element.elementor-element-237fc0b7
  .elementor-field-group
  .elementor-select-wrapper
  select {
  background-color: #ffffff;
  border-width: 2px 2px 2px 2px;
  border-radius: 9px 9px 9px 9px;
}
.elementor-85983
  .elementor-element.elementor-element-237fc0b7
  .elementor-button {
  border-style: solid;
  border-radius: 16px 16px 16px 16px;
  padding: 15px 30px 15px 30px;
}
.elementor-85983
  .elementor-element.elementor-element-237fc0b7
  .e-form__buttons__wrapper__button-next {
  background-color: #e268a9;
  color: #ffffff;
  border-color: #c4bcb0;
}
.elementor-85983
  .elementor-element.elementor-element-237fc0b7
  .elementor-button[type="submit"] {
  background-color: #e268a9;
  color: #ffffff;
  border-color: #c4bcb0;
}
.elementor-85983
  .elementor-element.elementor-element-237fc0b7
  .elementor-button[type="submit"]
  svg
  * {
  fill: #ffffff;
}
.elementor-85983
  .elementor-element.elementor-element-237fc0b7
  .e-form__buttons__wrapper__button-previous {
  color: #ffffff;
}
.elementor-85983
  .elementor-element.elementor-element-237fc0b7
  .e-form__buttons__wrapper__button-next:hover {
  color: #ffffff;
}
.elementor-85983
  .elementor-element.elementor-element-237fc0b7
  .elementor-button[type="submit"]:hover {
  color: #ffffff;
}
.elementor-85983
  .elementor-element.elementor-element-237fc0b7
  .elementor-button[type="submit"]:hover
  svg
  * {
  fill: #ffffff;
}
.elementor-85983
  .elementor-element.elementor-element-237fc0b7
  .e-form__buttons__wrapper__button-previous:hover {
  color: #ffffff;
}
.elementor-85983
  .elementor-element.elementor-element-237fc0b7
  .elementor-message {
  font-weight: 600;
}
.elementor-85983
  .elementor-element.elementor-element-237fc0b7
  .elementor-message.elementor-message-success {
  color: #ffffff;
}
.elementor-85983
  .elementor-element.elementor-element-237fc0b7
  .elementor-message.elementor-message-danger {
  color: #881111;
}
.elementor-85983 .elementor-element.elementor-element-4d50ec6d {
  --display: flex;
  --position: absolute;
}
body:not(.rtl) .elementor-85983 .elementor-element.elementor-element-4d50ec6d {
  left: 0px;
}
body.rtl .elementor-85983 .elementor-element.elementor-element-4d50ec6d {
  right: 0px;
}
.elementor-85983
  .elementor-element.elementor-element-3ac68206
  > .elementor-widget-container {
  background-color: #235065ba;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-style: double;
  border-width: 5px 5px 5px 5px;
  border-color: #ffffff;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
}
body:not(.rtl) .elementor-85983 .elementor-element.elementor-element-3ac68206 {
  left: -43px;
}
body.rtl .elementor-85983 .elementor-element.elementor-element-3ac68206 {
  right: -43px;
}
.elementor-85983 .elementor-element.elementor-element-3ac68206 {
  top: 193px;
}
.elementor-85983
  .elementor-element.elementor-element-3ac68206.ha-has-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
body:not(.rtl) .elementor-85983 .elementor-element.elementor-element-3465e5d0 {
  left: 0px;
}
body.rtl .elementor-85983 .elementor-element.elementor-element-3465e5d0 {
  right: 0px;
}
.elementor-85983 .elementor-element.elementor-element-3465e5d0 {
  top: 56px;
}
.elementor-85983
  .elementor-element.elementor-element-3465e5d0
  > .elementor-widget-container {
  border-radius: 40px 40px 40px 40px;
}
:root {
  --page-title-display: none;
}
@media (max-width: 1024px) {
  .elementor-85983
    .elementor-element.elementor-element-7f09a15
    > .elementor-widget-container {
    margin: 0px 0px 40px 0px;
  }
  .elementor-85983
    .elementor-element.elementor-element-14607f25
    > .elementor-widget-container {
    margin: 0px 0px 20px 0px;
  }
  .elementor-85983
    .elementor-element.elementor-element-13fd00ae
    > .elementor-widget-container {
    --e-transform-scale: 0.7;
  }
  body:not(.rtl)
    .elementor-85983
    .elementor-element.elementor-element-13fd00ae {
    left: 4px;
  }
  body.rtl .elementor-85983 .elementor-element.elementor-element-13fd00ae {
    right: 4px;
  }
  .elementor-85983 .elementor-element.elementor-element-13fd00ae {
    bottom: 62vw;
  }
  .elementor-85983
    .elementor-element.elementor-element-43abcb15
    > .elementor-widget-container {
    margin: 0px 0px 20px 0px;
  }
  .elementor-85983
    .elementor-element.elementor-element-51717993
    > .elementor-widget-container {
    --e-transform-scale: 1.3;
    margin: 0px 0px 0px 0px;
  }
  .elementor-85983 .elementor-element.elementor-element-51717993 {
    bottom: 29vw;
  }
  .elementor-85983
    .elementor-element.elementor-element-3ce3cff8
    > .elementor-widget-container {
    margin: 0px 0px 20px 0px;
  }
  .elementor-85983
    .elementor-element.elementor-element-4004c30
    > .elementor-widget-container {
    --e-transform-scale: 0.7;
    margin: 0px 195px 0px 195px;
  }
  .elementor-85983 .elementor-element.elementor-element-4004c30 {
    top: 36vw;
  }
  .elementor-85983
    .elementor-element.elementor-element-f744b78
    > .elementor-widget-container {
    --e-transform-scale: 0.7;
    margin: 0px 195px 0px 195px;
  }
  .elementor-85983 .elementor-element.elementor-element-f744b78 {
    top: 77.015vw;
  }
  .elementor-85983
    .elementor-element.elementor-element-32942365
    > .elementor-widget-container {
    margin: 0px 0px 20px 0px;
  }
  .elementor-85983
    .elementor-element.elementor-element-237fc0b7
    > .elementor-widget-container {
    --e-transform-scale: 1;
    margin: 27% 27% 27% 27%;
    padding: 34px 24px 24px 24px;
    border-radius: 25px 25px 25px 25px;
  }
  .elementor-85983 .elementor-element.elementor-element-237fc0b7 {
    top: 16vw;
  }
  body:not(.rtl)
    .elementor-85983
    .elementor-element.elementor-element-3ac68206 {
    left: -44px;
  }
  body.rtl .elementor-85983 .elementor-element.elementor-element-3ac68206 {
    right: -44px;
  }
  .elementor-85983 .elementor-element.elementor-element-3ac68206 {
    top: 181px;
  }
}
@media (max-width: 767px) {
  .elementor-85983 .elementor-element.elementor-element-7d3c83 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-85983
    .elementor-element.elementor-element-5e7bcf38
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-85983
    .elementor-element.elementor-element-7f09a15
    > .elementor-widget-container {
    margin: 0% 0% 5% 0%;
    padding: 0% 0% 0% 0%;
  }
  .elementor-85983 .elementor-element.elementor-element-7f09a15 {
    text-align: center;
  }
  .elementor-85983 .elementor-element.elementor-element-7f09a15 img {
    width: 100%;
    border-radius: 0px 0px 25px 25px;
  }
  .elementor-85983 .elementor-element.elementor-element-399fd101 {
    margin-top: -8px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-85983
    .elementor-element.elementor-element-3c4020eb
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-85983
    .elementor-element.elementor-element-14607f25
    > .elementor-widget-container {
    margin: 3% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
  }
  .elementor-85983 .elementor-element.elementor-element-14607f25 {
    text-align: center;
  }
  .elementor-85983 .elementor-element.elementor-element-14607f25 img {
    width: 100%;
    border-radius: 25px 25px 25px 25px;
  }
  .elementor-85983
    .elementor-element.elementor-element-13fd00ae
    > .elementor-widget-container {
    --e-transform-scale: 0.76;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  body:not(.rtl)
    .elementor-85983
    .elementor-element.elementor-element-13fd00ae {
    left: 0px;
  }
  body.rtl .elementor-85983 .elementor-element.elementor-element-13fd00ae {
    right: 0px;
  }
  .elementor-85983 .elementor-element.elementor-element-13fd00ae {
    bottom: 90vw;
    --e-transform-origin-x: center;
    --e-transform-origin-y: center;
  }
  .elementor-85983
    .elementor-element.elementor-element-13fd00ae
    .wpr-countdown-wrap {
    max-width: 800px;
  }
  .elementor-85983
    .elementor-element.elementor-element-13fd00ae
    .wpr-countdown-item {
    margin-left: calc(0px / 2);
    margin-right: calc(0px / 2);
    padding: -28px -28px -28px -28px;
  }
  .elementor-85983
    .elementor-element.elementor-element-13fd00ae
    .wpr-countdown-number {
    font-size: 46px;
  }
  .elementor-85983
    .elementor-element.elementor-element-13fd00ae
    .wpr-countdown-label {
    font-size: 18px;
    letter-spacing: -1px;
    padding: 4px 4px 4px 4px;
  }
  .elementor-85983
    .elementor-element.elementor-element-13fd00ae
    .wpr-countdown-separator
    span {
    width: 9px;
    height: 9px;
  }
  .elementor-85983
    .elementor-element.elementor-element-13fd00ae
    .wpr-countdown-separator
    span:first-child {
    margin-bottom: 21px;
  }
  .elementor-85983 .elementor-element.elementor-element-67bb0cb1 {
    margin-top: -8px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-85983
    .elementor-element.elementor-element-520618bd
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-85983
    .elementor-element.elementor-element-43abcb15
    > .elementor-widget-container {
    margin: 3% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
  }
  .elementor-85983 .elementor-element.elementor-element-43abcb15 {
    text-align: center;
  }
  .elementor-85983 .elementor-element.elementor-element-43abcb15 img {
    width: 100%;
    border-radius: 25px 25px 25px 25px;
  }
  .elementor-85983
    .elementor-element.elementor-element-51717993
    > .elementor-widget-container {
    --e-transform-scale: 1;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-85983 .elementor-element.elementor-element-51717993 {
    bottom: 40vw;
  }
  .elementor-85983 .elementor-element.elementor-element-1f951cd0 {
    margin-top: -8px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-85983
    .elementor-element.elementor-element-1ae6837d
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-85983
    .elementor-element.elementor-element-3ce3cff8
    > .elementor-widget-container {
    margin: 3% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
  }
  .elementor-85983 .elementor-element.elementor-element-3ce3cff8 {
    text-align: center;
  }
  .elementor-85983 .elementor-element.elementor-element-3ce3cff8 img {
    width: 100%;
    border-radius: 25px 25px 25px 25px;
  }
  .elementor-85983
    .elementor-element.elementor-element-4004c30
    > .elementor-widget-container {
    --e-transform-scale: 0.7;
    margin: -41px 17px -47px 17px;
    padding: 0px 0px 0px 0px;
  }
  body:not(.rtl) .elementor-85983 .elementor-element.elementor-element-4004c30 {
    left: 0px;
  }
  body.rtl .elementor-85983 .elementor-element.elementor-element-4004c30 {
    right: 0px;
  }
  .elementor-85983 .elementor-element.elementor-element-4004c30 {
    top: 67vw;
  }
  .elementor-85983 .elementor-element.elementor-element-4004c30 .wpr-flip-box {
    height: 288px;
    border-radius: 21px;
  }
  .elementor-85983
    .elementor-element.elementor-element-4004c30
    .wpr-flip-box-item {
    border-radius: 21px;
  }
  .elementor-85983
    .elementor-element.elementor-element-4004c30
    .wpr-flip-box-overlay {
    border-radius: 21px;
  }
  .elementor-85983
    .elementor-element.elementor-element-4004c30
    .wpr-flip-box-front
    .wpr-flip-box-content {
    padding: 0px 0px 0px 0px;
  }
  .elementor-85983
    .elementor-element.elementor-element-4004c30
    .wpr-flip-box-front {
    border-width: 5px 5px 5px 5px;
  }
  .elementor-85983
    .elementor-element.elementor-element-4004c30
    .wpr-flip-box-front
    .wpr-flip-box-title {
    font-size: 26px;
  }
  .elementor-85983
    .elementor-element.elementor-element-4004c30
    .wpr-flip-box-front
    .wpr-flip-box-description {
    font-size: 19px;
  }
  .elementor-85983
    .elementor-element.elementor-element-4004c30
    .wpr-flip-box-back
    .wpr-flip-box-content {
    padding: -27px -27px -27px -27px;
  }
  .elementor-85983
    .elementor-element.elementor-element-4004c30
    .wpr-flip-box-back {
    border-width: 5px 5px 5px 5px;
  }
  .elementor-85983
    .elementor-element.elementor-element-4004c30
    .wpr-flip-box-back
    .wpr-flip-box-image
    img {
    max-width: 166px;
  }
  .elementor-85983
    .elementor-element.elementor-element-4004c30
    .wpr-flip-box-back
    .wpr-flip-box-image {
    margin-bottom: 18px;
  }
  .elementor-85983
    .elementor-element.elementor-element-4004c30
    .wpr-flip-box-back
    .wpr-flip-box-title {
    font-size: 26px;
  }
  .elementor-85983
    .elementor-element.elementor-element-4004c30
    .wpr-flip-box-back
    .wpr-flip-box-description {
    font-size: 20px;
  }
  .elementor-85983
    .elementor-element.elementor-element-4004c30
    .wpr-flip-box-back
    .wpr-flip-box-btn {
    font-size: 20px;
    border-radius: 15px 15px 15px 15px;
  }
  .elementor-85983
    .elementor-element.elementor-element-f744b78
    > .elementor-widget-container {
    --e-transform-scale: 0.7;
    margin: -41px 17px -47px 17px;
    padding: 0px 0px 0px 0px;
  }
  body:not(.rtl) .elementor-85983 .elementor-element.elementor-element-f744b78 {
    left: 0px;
  }
  body.rtl .elementor-85983 .elementor-element.elementor-element-f744b78 {
    right: 0px;
  }
  .elementor-85983 .elementor-element.elementor-element-f744b78 {
    top: 139vw;
  }
  .elementor-85983 .elementor-element.elementor-element-f744b78 .wpr-flip-box {
    height: 288px;
    border-radius: 21px;
  }
  .elementor-85983
    .elementor-element.elementor-element-f744b78
    .wpr-flip-box-item {
    border-radius: 21px;
  }
  .elementor-85983
    .elementor-element.elementor-element-f744b78
    .wpr-flip-box-overlay {
    border-radius: 21px;
  }
  .elementor-85983
    .elementor-element.elementor-element-f744b78
    .wpr-flip-box-front
    .wpr-flip-box-content {
    padding: 0px 0px 0px 0px;
  }
  .elementor-85983
    .elementor-element.elementor-element-f744b78
    .wpr-flip-box-front {
    border-width: 5px 5px 5px 5px;
  }
  .elementor-85983
    .elementor-element.elementor-element-f744b78
    .wpr-flip-box-front
    .wpr-flip-box-title {
    font-size: 26px;
  }
  .elementor-85983
    .elementor-element.elementor-element-f744b78
    .wpr-flip-box-front
    .wpr-flip-box-description {
    font-size: 19px;
  }
  .elementor-85983
    .elementor-element.elementor-element-f744b78
    .wpr-flip-box-back
    .wpr-flip-box-content {
    padding: -27px -27px -27px -27px;
  }
  .elementor-85983
    .elementor-element.elementor-element-f744b78
    .wpr-flip-box-back {
    border-width: 5px 5px 5px 5px;
  }
  .elementor-85983
    .elementor-element.elementor-element-f744b78
    .wpr-flip-box-back
    .wpr-flip-box-image
    img {
    max-width: 136px;
  }
  .elementor-85983
    .elementor-element.elementor-element-f744b78
    .wpr-flip-box-back
    .wpr-flip-box-image {
    margin-bottom: 17px;
  }
  .elementor-85983
    .elementor-element.elementor-element-f744b78
    .wpr-flip-box-back
    .wpr-flip-box-title {
    font-size: 26px;
  }
  .elementor-85983
    .elementor-element.elementor-element-f744b78
    .wpr-flip-box-back
    .wpr-flip-box-description {
    font-size: 20px;
  }
  .elementor-85983
    .elementor-element.elementor-element-f744b78
    .wpr-flip-box-back
    .wpr-flip-box-btn {
    font-size: 20px;
    border-radius: 15px 15px 15px 15px;
  }
  .elementor-85983 .elementor-element.elementor-element-5ff60af0 {
    margin-top: -8px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-85983
    .elementor-element.elementor-element-78b42866
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-85983
    .elementor-element.elementor-element-32942365
    > .elementor-widget-container {
    margin: 3% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
  }
  .elementor-85983 .elementor-element.elementor-element-32942365 {
    text-align: center;
  }
  .elementor-85983 .elementor-element.elementor-element-32942365 img {
    width: 100%;
    border-radius: 25px 25px 25px 25px;
  }
  .elementor-85983
    .elementor-element.elementor-element-237fc0b7
    > .elementor-widget-container {
    --e-transform-scale: 0.8;
    margin: -3vw 0vw 0vw 0vw;
    padding: 36px 16px 17px 16px;
    border-width: 2px 2px 2px 2px;
    border-radius: 25px 25px 25px 25px;
  }
  .elementor-85983 .elementor-element.elementor-element-237fc0b7 {
    top: 58vw;
  }
  .elementor-85983
    .elementor-element.elementor-element-237fc0b7
    .elementor-field-group
    .elementor-field,
  .elementor-85983
    .elementor-element.elementor-element-237fc0b7
    .elementor-field-subgroup
    label {
    font-size: 19px;
  }
  .elementor-85983
    .elementor-element.elementor-element-237fc0b7
    .elementor-button {
    font-size: 20px;
    border-width: 1px 1px 1px 1px;
  }
  .elementor-85983
    .elementor-element.elementor-element-3ac68206
    > .elementor-widget-container {
    --e-transform-scale: 0.85;
    border-width: 7px 7px 7px 7px;
  }
  body:not(.rtl)
    .elementor-85983
    .elementor-element.elementor-element-3ac68206 {
    left: -6vh;
  }
  body.rtl .elementor-85983 .elementor-element.elementor-element-3ac68206 {
    right: -6vh;
  }
  .elementor-85983 .elementor-element.elementor-element-3ac68206 {
    top: 28.5vw;
  }
  .elementor-85983 .elementor-element.elementor-element-3465e5d0 {
    top: 48px;
  }
} /* Start custom CSS for form, class: .elementor-element-237fc0b7 */
.elementor-85983
  .elementor-element.elementor-element-237fc0b7
  form.elementor-form
  button[type="submit"] {
  margin-top: 3%;
}

.elementor-85983 .elementor-element.elementor-element-237fc0b7 {
  white-space: nowrap;
} /* End custom CSS */
/* Start custom CSS for form, class: .elementor-element-237fc0b7 */
.elementor-85983
  .elementor-element.elementor-element-237fc0b7
  input[type="radio"] {
  vertical-align: middle;
  margin-right: 5px;
}

.elementor-85983 .elementor-element.elementor-element-237fc0b7 label {
  display: inline-block;
  vertical-align: middle;
  margin-right: 21px;
}

.elementor-85983
  .elementor-element.elementor-element-237fc0b7
  input[type="radio"] {
  transform: scale(1.25);
} /* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-3ac68206 */
.icon-button {
  font-size: 30px;
  cursor: pointer;
  border: none;
  background: none;
  color: white;
} /* End custom CSS */
